:root{
  font-family: Arial, Helvetica, sans-serif;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #ead0f2;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faqCard {
    background-color: #fff;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    border-radius: 15px;
}

.faqItem {
    max-width: 500px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}